body {
    background-color: #baf2b5;
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
    color: #0E871A;
    font-weight: 600;
    text-shadow: 2px 2px 2px white
}

li {
   list-style: none; 
}

textarea, .postedComment, .repliedComment {
    margin: 10px auto 0px;
    border-style: groove;
    border-width: thick;
    border-radius: 8px;
    float: left;
    font-size: .8rem;
}

.likes {
    float: left; 
    width: 100%;
}

.postedComment, .repliedComment {
    padding: 3px 10px;
    display: block;
    width: auto;
}

.actionButtons {
    display: block;
    float: left;
}

input[type=submit] {
    border-style: groove;
    margin: 15px 0px 10px 10px;
    border-radius: 5px;
    background-color: #0E871A;
    color: white;
    font-weight: 700;
}

.firstMessage, .replyMessage {
    margin: 15px auto;
    width: 70%;
}

.replyMessage {
    float: right;
}

.firstMessage textarea, .postedComment {
    border-color: #3F4BEA;
    background-color: white;
}
.replyMessage textarea, .repliedComment {
   border-color: #FAA653;
    background-color: white;
}

button .thumb, button .dislike-thumb {
    height: 20px;
    width: 19px; 
    display: inline-block;
}

button {
    background-color: #baf2b5;
    border: none;
    display: inline-block;
}

.like-counter, .dislike-counter, .comment, .delete {
    display: inline-block;
    font-size: .75rem;
    vertical-align: super;
    color: #0E871A;
    font-weight: 700;
    margin-right: 15px;
}

.dislike-thumb {
    transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
    body {
        width: 95%;
        margin: 5px;
    }
    h1 {
        font-size: 1.5rem;
    }
    ul {
        width: 100%;
        padding: 0px;
        margin-left: 30px;
    }
    li {
       margin: 10px; 
       padding-right: -20px;        
    }
    .firstMessage, .replyMessage {
        margin: 15px auto;
        width: 100%;
    }
    textarea {
        width: 230px;
    }
    .replyMessage {
        float: none;
        margin-left: -25px;
    }
}


